/* GLOBAL */

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url("img/space.png") no-repeat black;
    background-size: cover;
}

#outer {
    background: rgba(255, 255, 255, 0.80);
}

/* SELECTABLE OPTIONS */

.story {
    cursor: pointer;
    line-height: 30px;
}

.story .score {
    font-weight: bold;
    color: #777;
}

.story.selected {
    background-color: yellow;
}

.story.selected .score {
    color: black;
}
